body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-repeat: no-repeat;
  background-size:cover; 
}
.outer-box{
  display: flex;
  justify-content: center;
}

p{
  font-size: 20px;
}

.main-box{
  display: flex;
  flex-direction: column;
  border: 8px solid rgba(255,255,255,0.8);
  align-items: center;
  width: 1200px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 75px;
  color: white;
}

.header{
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.header > p{
font-size: 12px;
}

h1{
  text-align: center;
  font-family: 'Cambria';
}
.name  > p{
  text-align: center;
}
.myself{
  width: 150%;
  flex: 1;
}
.my-bio{
  flex: 2;
  border-left: 2px white solid;
  padding-left: 20px;
}
.my-picture{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.name{
  border: 2px solid white;
  border-radius: 10px;
}
img{
  border-radius: 50px;
  border: 3px white solid;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 0 0 10px 0;
}
.line{
  height: 100%;
  width: 1px;
  margin-right: 20px;
  margin-left: 20px;
}
.footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  text-align: start;
  align-items: center;
  margin-top: 10px;
  border-top: 5px dotted rgba(255, 255, 255, 0.8)
}
.socials{
  flex: 4;
}
.social-text{
  flex: 2;
}

a{
  color: white;
}

a:hover{
  color: rgba(255, 255, 255, 0.9);
}

a:active{
  color: red;
}

li{
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
}

.bottom-most{
  position: fixed;
  text-align: center;
  width: 100vw;
  flex-direction: column;
  height: max-content;
  background-color: black;
  bottom: 0;
  margin: 0;
  padding: 0;
  right: 0;
  height: 20px;
}

@media (max-width: 800px) {
  body{
    background-position: top;
  }
  .main-box{
    width: 700px;
  }
  .content{
    display: flex;
    flex-direction: column;
  }
  .myself{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name, .my-picture{
    width: 700px;
  }
  .name{
    border: none;
    border-bottom: 2px solid white;
  }
}

.clock{
  background-color: black;
  color: white;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
  width: 100vw;
  height: 50px;
  margin: auto;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  right: 0;
}
.this-time{
  color: yellow;
  font-size: 25px;
}

.js-live-time{
  color: red;
  font-size: 25px;
}
.separator{
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 100px;
}

.menu{
  color: white;
  position: fixed;
  bottom: 5%;
  border: 2px white solid;
  padding: 5px 20px;
  border-radius: 40px;
  margin-left: 10px;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}
.menu:hover{
  background-color: rgba(0,0,0,0.7);
  font-weight: bold;
}

.sidebar{
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  margin: 0;
  left: 0;
  display: none;
  z-index: 1;
  height: 100vh;
  width: 40vh;
}
.navbar {
  margin-top: 5vh;
  margin-left: 1vh;
  text-align: left;
  color: white;
}
.navbar > h1{
  text-align: left;
  font-size: 36px;
  }

  .navbar > ul > li > a{
    font-size: 25px;
  }
  
.active {
  font-weight: bold;
  cursor: default;
}

.active:hover{
  color: white !important; 
}

.active:active{
  color: white !important; 
}

.disclaimer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 19px;
    opacity: 1;
    color: white;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    background-color: black;
}
